<script>
    $(function() {
        
        var unassign_button = ''
        
        $( ".draggable" ).draggable({
            cancel: ".close", 
            revert: "invalid", 
            <%= render "draghelper" %>,
            zIndex: 100
        });
  
        $('.drop-target').droppable({
            accept: function(draggable) {
                if (!(draggable.is(".draggable"))) {
                    return false;
                }
                if ($(this).children().length > 0) {
                    return false;
                }
                return true;
            },
            activeClass: "info",
            drop: function( event, ui ) {
                addToNumber( ui.draggable, $(this) );
            }
        });
        
        $(".add-remove-item").each( function() {
                                        addRemoveButton($(this));
                                    });
    });    
             
    function addToNumber( $item, $target ) {            
        $item.fadeOut(function() {
            addRemoveButton($item);
            var number_id = $target.attr("data-id");
            var album_id = $item.attr("data-id");
            $.ajax({
                type: 'POST',
                url: '/album_listing',
                dataType: 'json',
                data: { album_listing: {number: number_id, album_id: album_id } }
            });
            if ($item.parent().is(".drop-target")) {
                number_id = $item.parent().attr("data-id");
                $.ajax({
                    type: 'DELETE',
                    url: '/album_listing/delete',
                    dataType: 'json',
                    data: { number: number_id, album_id: album_id }
                });
            }
            $item
                .appendTo( $target )
                .fadeIn();
        });
    }
    
    function addRemoveButton($element) {
        if ($element.find( "button.close" ).length == 0) {
            $element.prepend(
                $('<button type="button" class="close" aria-label="unassign"><span aria-hidden="true">&times;</span></button>')
                .click(function () {
                    var number_id = $element.parent().attr("data-id");
                    var album_id = $element.attr("data-id")
                    $.ajax({
                        type: 'DELETE',
                        url: '/album_listing/delete',
                        dataType: 'json',
                        data: { number: number_id, album_id: album_id }
                    });
                    $element.fadeOut(function() {
                        $element
                            .find( "button.close" ).remove().end()
                            .prependTo($('.album-list-sortable'))
                            .fadeIn();
                    });
                })
            );
        }
    }
        
</script>



<div class="container-fluid">
    <%= render "headerbox" %>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Unassigned Albums
                    </h3>
                </div>
                <div class="panel-body" style="max-height: 600px; overflow-y:scroll">
                    <div class="list-group album-list-sortable">
                        <% @albums.each do |a| %>
                            <%= render "albumbox", album: a, removeButton: false %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Jukebox Albumlist
                    </h3>
                </div>
                <div class="panel-body" style="max-height: 600px; overflow-y:scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    Album Number
                                </th>
                                <th style="width: *">
                                    Album
                                </th>
                            <tr>
                        </thead>
                        <tbody>
                            <% (0..99).each do |n| %>
                                <tr>
                                    <td>
                                        <b><%=n%></b>
                                    </td>
                                    <td class="drop-target" id="n<%=n%>" data-id="<%=n%>">
                                        <% listing = @listings.select{|l| l.number == n} %>
                                        <% if not listing.empty? %>
                                            <% l = listing.first %>
                                            <% album = l.album %>
                                            <% if not album.nil? %>
                                                <%= render "albumbox", album: album, removeButton: true %>
                                            <% else %>
                                                <% l.destroy %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                </tr>          
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>