<% if @album.errors.any? %>
    <%=render "jsDisplayErrors", model: @album%>
<% else %>
    $.bootstrapPurr("<span class='fa fa-info' aria-hidden='true'></span> <%=@track.track_name %> added", {
                type:'success',
                    offset: {
                        amount: 60,
                        from: 'top'
                    }
                });
    
    $("#tracks<%=@album.id%> tbody").append('<%=escape_javascript(render "trackrow", track: @track, style: "display: none;")%>');
    
    $("#track-<%=@track.id%>").show({
        effect: "blind",
        complete: function() {
                $("#albums").trigger("refreshGrid");
                $(".album-<%=@album.id%>").val("");
            }
        });
<% end %>